* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

header {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #931420;
    padding: 1em 0 1em 1em;
    background-image: linear-gradient(-140deg, #f6bb73, white, #f6bb73);
    align-items: center;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

header img {
    padding: 0 1em;
}

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover {
    color: yellow;
}

main {
    padding: 0 1em;
    display: flex;
}

section {
    width: 70%;
}

aside {
    width: 30%;
    margin-right: 2em;
}

article {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:focus,
a:hover {
    font-style: italic;
}

footer {
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
    margin-top: 10px;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}
