body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

header {
    display: flex;
    gap: 20px;
}

header img{
    object-fit: contain;
    flex-shrink: 0;
}

main h1 {
    font-size: 150%;
}

main h2{
    font-size: 130%;
    color: #800000;
}

main h3{
    font-size: 105%;
}

header h2{
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3{
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

a:focus, a:hover{
    font-style: italic;
}

footer p{
    text-align: center;
}

.shadow{
    text-shadow: 2px 2px 2px #800000;
}